vendor
bower_components
node_modules

*.js.map
*.css.map
*.orig

LocalConfig.php

*.log
.sass-cache
*.scssc

*.DS_Store

cache
assets
uploads
media

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
