/vendor/
.idea/
bower_components/
*.js.map
*.css.map
*.orig

node_modules/
/LocalConfig.php
*.log
.sass-cache/
*.scssc

.ftppass

*.DS_Store

/cache/
/build/
/assets/
/uploads/*
/media/albums/*
/media/styles/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
