@import 'components/reset';
@import 'components/fonts.scss';
@import 'components/mixins';
@import 'components/header';

*, :after, :before {
	@include box-sizing();
}

html, body{
	overflow: auto!important;
	height: auto!important;
}

body{
	background-color: $white;
	font-size: 14px;
	font-family: 'Helvetica-nz';
	line-height: 16px;
	color: $grey;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
	display: inline-block;
	text-decoration: none;
	&:hover{
		@include transition(all 0.3s ease-in-out);
	}
}

p{
	margin-bottom: 10px;
}

b{
	font-weight: bold;
}

@import 'components/footer';