<footer>
	<div class="container">

		<div class="footer-logo">
		  <a href="/" title="Home" rel="home">
		    <img class="logo-white" src="/assets/images/logo.png" alt="Home" />
		  </a>
		</div>
		
		<div class="footer-nav-wrapper">		
			<div class="main-foot-nav">
				<ul class="moon links main-links">
					<li><a href="/contact-us">Contact us</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Media & press</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Venue hire</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Terms & conditions</a></li>
				</ul>
				<ul class="social-links">
					<li><a href="#" target="_blank">F</a></li>
					<li><a href="#" target="_blank">T</a></li>
					<li><a href="#" target="_blank">I</a></li>
					<li><a href="#" target="_blank">G</a></li>
					<li><a href="#" target="_blank">P</a></li>
					<li><a href="#" target="_blank">V</a></li>
					<li><a href="#" target="_blank">Y</a></li>
					<li><a href="#" target="_blank">TA</a></li>
				</ul>
			</div>
		</div>


		<div class="find-us info-block">
			<div class="head moon">Find us</div>
			<p>Noah's Ark Zoo Farm <br/>
					Clevedon Road <br/>
					Wraxall <br/>
					Bristol <br/>
					BS48 1PG
			</p>
			<p><b class="view-map"><a href="#" target="_blank">View on map</a></b></p>
			<a href="tel:01275852606" target="_blank" class="tel">Tel: 01275 852606</a>
		</div>

		<div class="hours info-block">
			<div class="head moon">Opening hours</div>
			<p>December & January <br/>
					Open Monday - Saturday, 10.30am - 4pm
			</p>
			<p>February - November <br/>
					Open Monday - Saturday, 10.30am - 4pm
			</p>

			<b class="closed">We are closed Sundays</b>
		</div>

		<div class="logos">
			<img src="/assets/images/greentourism.png" alt="Green Tourism" />
			<img src="/assets/images/tripadvisor.png" alt="Trip Advisor" />
			<img src="/assets/images/enjoyengland.png" alt="Enjoy England" />
		</div>

		<div class="bottom-links">
			<div class="copy">Copyright &copy Noah's Ark Zoo Farm&trade; All Rights Reserved</div>
			<span><a href="#"><span class="desktop divider">|</span>View Mobile Edition</a><span class="divider">|</span><a href="#">Privacy Policy</a></span>
			<span><a href="#"><span class="desktop divider">|</span>Shop Terms and Conditions</a><span class="divider">|</span><a href="#">Contact Us</a></span>
		</div>

    <span class="silhouette giraffe"></span>

	</div>
</footer>

<link rel="stylesheet" href="{{ page.base_url }}/assets/css/music.min.css">
