<div id="container-floating">
    <div class="nd1 nds" data-toggle="tooltip" data-path="{{page.path}}" data-remote="/admin/seo/edit/id/{{page.meta.id}}"><p class="letter">SEO</p></div>
    <div class="nd3 nds" data-toggle="tooltip" data-path="{{page.path}}" data-size="wide" data-remote="/admin/news/edit/id/{{item.id}}"><p class="letter">Edit</p></div>
    <!--<div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com"><img class="reminder">-->
        <!--<p class="letter">C</p>-->
    <!--</div>-->
    <!--<div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder"><img class="reminder" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_reminders_speeddial_white_24dp.png" /></div>-->
    <!--<div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">-->
        <!--<p class="letter">E</p>-->
    <!--</div>-->

    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" data-function="Creation.editSEO">
        <img class="" src="/assets/images/footer/birdblack.png">
    </div>

</div>

