<header class="green">

	<div class="site-logo green">
	  <a href="/" title="Home" rel="home">
	    <img class="logo-white" src="/assets/images/logo.png" alt="Home" />
	  </a>
	</div>
	
	<button class="hamburger hamburger--elastic" type="button">
	  <span class="hamburger-box">
	    <span class="hamburger-inner"></span>
	  </span>
	</button>
	
	<div class="main-nav-wrapper green iron">

		<nav class="main-nav">
			<ul>
				<li class="expandable">
					<a href="#">Animals<span class="underline dark-green"></span></a>
					<ul class="submenu moon">					
						<li><a href="/a-z">A - Z<span class="underline green"></span></a></li>
						<li><a href="#">Animal stories<span class="underline green"></span></a></li>
						<li><a href="#">Animal team<span class="underline green"></span></a></li>
						<li><a href="/adopt-animal">Adopt an animal<span class="underline green"></span></a></li>
						<li><a href="#">Keeper experiances<span class="underline green"></span></a></li>
						<li><a href="#">Feeding zones<span class="underline green"></span></a></li>
						<li><a href="#">Handling sessions<span class="underline green"></span></a></li>
					</ul>
				</li>
				<li><a href="#">Explore<span class="underline dark-green"></span></a></li>
				<li class="expandable"><a href="#">Plan your visit<span class="underline dark-green"></span></a>
					<ul class="submenu moon">					
						<li><a href="#">A - Z<span class="underline green"></span></a></li>
						<li><a href="#">Animal stories<span class="underline green"></span></a></li>
						<li><a href="#">Animal team<span class="underline green"></span></a></li>
						<li><a href="/adopt-animal">Adopt an animal<span class="underline green"></span></a></li>
						<li><a href="#">Keeper experiances<span class="underline green"></span></a></li>
						<li><a href="#">Feeding zones<span class="underline green"></span></a></li>
						<li><a href="#">Handling sessions<span class="underline green"></span></a></li>
					</ul>
				</li>
				<li><a href="#">Zoo School<span class="underline dark-green"></span></a></li>
				<li><a href="#">Conservation<span class="underline dark-green"></span></a></li>
			</ul>
		</nav>
		
		<span class="underline white mobile"></span>
		
		<nav class="top-main-nav">
			<ul>
				<li><a href="#">What's on</a></li>
				<li><a href="/buy-tickets">Buy tickets</a></li>
			</ul>
		</nav>

		<span class="underline white mobile"></span>

	</div>

	<div class="header-cart">
		<div class="cart-icon">C</div>
		<span class="moon counter">0 items</span>
	</div>

</header>
