body{
  background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-content{
	margin-left: 230px;

}