body{
  background-color: #ecf0f5;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
* { 
   transition: all 200ms ease;
}
a{
	text-decoration: none;
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	box-sizing:border-box;
	//width: 90%;
	//padding: 10px 5%;
}

button{
	outline: none;
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	line-height: 1.1;
	color: #2d2d2d;
}

.input-group{
	position: relative;
}

.hidden {
  display: none !important;
}

.main-content{
	margin-left: 230px;
	margin-top: 50px;
	min-height: 100%;
  @include transition(0.3s ease-in);

}

.container{
	padding: 20px 15px;
}

.panel{
	overflow: hidden;
	margin-bottom: 25px;
	.header{
		margin-bottom: 15px;
		h1{
			font-size: 24px;
		}
	}
}
