.main-sidebar{
	background-color: #222d32;
	position: fixed;
	width: 230px;
	top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  z-index: 1;
  @include transition(0.3s ease-in);
  .sidebar{
  	padding-bottom: 10px;
  }
  .user-panel{
  	position: relative;
    width: 210px;
    padding: 10px;
  	white-space: nowrap;
    overflow: hidden;
    .image{
    	background-color: $white;
    	width: 45px;
    	height: 45px;
    	text-align: center;
    	line-height: 45px;
    	float: left;
    	@include border-radius(50%);
      @include transition(0.3s ease-in);
    }
    .info{
	    margin: 5px 5px 5px 15px;
	    line-height: 1;
	    position: absolute;
	    left: 55px;
      height: 50px;
      overflow: hidden;
      @include transition(0.3s ease-in);
	    p{
	    	color: $white;
	    	font-weight: 600;
    		margin-bottom: 9px;
	    }
	    span{
	    	color: #00c0ef;
	    	font-size: 12px;
	    }
    }
  }
  .sidebar-search{
    border: 1px solid #374850;
    margin: 10px 10px;
    width: 208px;
    height: 38px;
    overflow: hidden;
    text-overflow: clip;
    @include border-radius(3px);
    @include transition(0.3s ease-in);
    input[type="text"]{
      color: #666;
    	background-color: #374850;
    	  padding-right: 40px;
    	  padding-left: 10px;
    		width: calc(100% - 50px);
    }
    .input-btn{
			color: #999;
			font-size: 14px;
			position: absolute;
			top: 0;
			right: 0;
			width: 38px;
			height: 38px;
    }
  }
}

ul.sidebar-menu{
	a{
    display: block;
		padding: 12px 5px 12px 15px;
    width: 207px;
		color: #b8c7ce;
		border-left: 3px solid transparent;
    @include transition(0.3s ease-in);
		i{
			width: 20px;
		}
    span{
      font-size: 16px;
      @include transition(0.3s ease-in);
    }
		&:hover, &.active{
			color: #ffffff;
			background: #1e282c;
			border-left-color: #605ca8;
		}
	}
}






