.user-blocks{

}
.user-block{
	background-color: $white;
	position: relative;
	display: inline-block;
	float: left;
	width: 23%;
	height: 80px;
	margin-right: 2%;
	margin-bottom: 15px;
	&:nth-child(4n){
		margin-right: 0;
	}
	.inner{
		padding: 5px 10px;
	}
	button.edit{
    background-color: lighten(#ddd, 10%);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 18px;
    padding: 15px 5px 5px 15px;
    border-top-left-radius: 100%;
    &:hover{
    	background-color: #ddd;
    }
	}
}