{% extends 'Admin/base.html' %}
{% block content %}
<div class="container">
    <h1>Albums Manager</h1>
    <br>
    <table class="table table-hover table-bordered table-condensed table-responsive" data-table="true">
        <thead>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Created</th>
            <td></td>
        </tr>
        </thead>
        <tbody>

        {% for row in data %}
        <tr {% if row.publish == 0 %} class="text-muted"{% endif %}>
            <td>{{row.album_name}}</td>
            <td>{{row.artist_name}}</td>
            <td><time data-no-date="Never" data-utc="{{row.created}}" class="localdate timeago" datetime="{{row.created}}"></time></td>
            <td>
                <button type="button" class="btn btn-primary pull-right" data-size="wide" data-remote="/admin/albums/edit/id/{{row.id}}">Edit</button>
                <a type="button" class="btn btn-default pull-right" rel="noopener noreferrer" target="_blank" href="{{row.url}}" target="_blank">View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary " data-size="wide" data-remote="/admin/albums/add">Add Album</button>
</div>

{% endblock content%}