<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'Admin/partials/metahead.html' %}
</head>

<body class="page-{{page.body_class}}">

{% include 'Admin/partials/modal.html' %}

<div id="main-wrapper">

	<header class="main-header">
		{% include 'Admin/partials/header.html' %}
	</header>

	<aside class="main-sidebar">
		{% include 'Admin/partials/sidebar.html' %}
	</aside>
	
	<div class="main-content">
	    {% block content %}{% endblock %}
	</div>

	<div class="main-footer">
	    {% include 'Admin/partials/footer.html' %}
	</div>
</div>

{% include 'General/partials/livereload.html' %}
{% include 'General/partials/onready.html' %}

</body>
</html>
