<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">Photobum</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="adminnav nav navbar-nav">
            <li class='user'><a href="{{page.approot}}user">Users</a></li>
            <li class='albums'><a href="{{page.approot}}albums">Albums</a></li>
            <li class='artists'><a href="{{page.approot}}persons">Persons</a></li>
            <li class="dropdown tools">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a style="pointer-events:none;" href="{{page.approot}}pfcclean">No tools yet</a></li>
                    <li><a href="{{page.approot}}reports">Reports</a></li>
                    <li><a href="{{page.approot}}f-explorer">F-Explorer</a></li>
                    {% if page.user.access_level >= 100 %}
                        <li><a href="{{page.approot}}pagemeta">Page Meta</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/settings"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
            <li><a href="/admin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right ">Signed in as {{page.user.display_name}}</p>
    </div>
    </div>
</nav>
<script>
    $(function() {
        $('.adminnav .{{page.section}}').addClass('active');
    });
</script>