{% extends 'Admin/base.html' %}
{% block content %}
<div class="container">
    
  <div class="panel">
    
    <div class="header">
    	<h1>Albums Colors</h1>
    </div>
    
    <div class="panel-content" id="albums-colors">

			
    	
    	{% for c in albums_colors %}
    		<div class="color-item">
    			<input type="text" data-id="{{c.id}}" data-code="{{c.code}}" class="color-person hidden" value="{{c.code}}" />
    		</div>
    	{% endfor %}
    
        <div class="color-item add-item">

            <button type="button" class="btn btn-default" data-type="album" data-function="PhotobumAdmin.addColor"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
	
    </div>
    
  <div class="panel">
    
    <div class="header">
    	<h1>Person Colors</h1>
    </div>
    
    <div class="panel-content" id="persons-colors">
    	
    	{% for c in persons_colors %}
    		<div class="color-item">
    			<input type="text" data-id="{{c.id}}" data-code="{{c.code}}" class="color-person hidden" value="{{c.code}}" />
    		</div>
    	{% endfor %}
        <div class="color-item add-item">

            <button type="button" class="btn btn-default" data-type="person" data-function="PhotobumAdmin.addColor"><i class="fa fa-plus-square-o"></i></button>
        </div>
    
    </div>
	
	</div>


<button type="button" class="btn btn-success ladda-button save-button" data-style="zoom-out" data-function="PhotobumAdmin.saveColors"><span class="ladda-label">Save</span></button>
</div>

{% endblock content%}