<section class="sidebar">
    
    <div class="user-panel">
        <div class="image">
            MV
        </div>
        <div class="pull-left info">
            <p>Minde Vieras</p>
            <span>Administrator</span>
        </div>
    </div>

    <form action="#" method="get" class="sidebar-search">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <button type="button" name="search" class="input-btn"><i class=" fa fa-search"></i></button>
        </div>
    </form>

    <ul class="sidebar-menu">
        <li><a href="{{page.approot}}" class="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{page.approot}}users" class="users"><i class="fa fa-users"></i> Users</a></li>
        <li><a href="{{page.approot}}albums" class="albums"><i class="fa fa-folder-open"></i> Albums</a></li>
        <li><a href="{{page.approot}}persons" class="persons"><i class="fa fa-users"></i> Persons</a></li>
        <li><a href="{{page.approot}}reports" class="reports"><i class="fa fa-flag"></i> Reports</a></li>
        <li><a href="{{page.approot}}f-explorer"><i class="fa fa-file"></i> F-Explorer</a></li>
    </ul>

</section>

<script>
    $(function() {
        $('.sidebar-menu .{{page.section}}').addClass('active');
    });
</script>