{% extends 'General/base.html' %}
{% block content %}

<div class="content-wrapper contact-us">

    <div class="page-title main">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-723.5 4015.359 297.383 93.922">
            <path class="green" d="M-54.242-43.563,243.141-56.852l-9.4,93.922h-282.2Z" transform="translate(-669.258 4072.211)"/>
        </svg>
        <h1 class="iron"><span class="wrap">Contact us<span class="underline dark-green"></span></span></h1>
    </div>

    <div id="contact-map"></div>

    <div class="container">

        <div class="content">

            <div class="get-in-touch container-trans">
                
                <div class="page-title">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-723.5 4015.359 297.383 93.922">
                        <path class="dark-green" d="M-54.242-43.563,243.141-56.852l-9.4,93.922h-282.2Z" transform="translate(-669.258 4072.211)"/>
                    </svg>
                    <h1 class="iron"><span class="wrap">Get in touch<span class="underline white"></span></span></h1>
                </div>
                
                <div class="inner">
                    <div class="details">
                        <div class="small-title">Address, Email & Telephone</div>
                        <div class="address">
                            Noah's Ark Zoo Farm<br/>
                            Clevedon Road<br/>
                            Wraxall<br/>
                            Bristol<br/>
                            BS48 1PG<br/><br/>
                            Email: info@noahszoofarm.co.uk<br/><br/>
                            Tel: 01275 852 606
                        </div>
                    </div>
                    <div class="general">
                        <div class="small-title">General Enquires</div>
                        
                        <form>
                            <input type="text" name="get-directions" placeholder="Name" />
                            <input type="text" name="get-directions" placeholder="Email" />
                            <textarea placeholder="Meassage"></textarea>
                            <button class="submit-button green">Submit</button>
                        </form>
                        
                    </div>
                </div>

                <div id="get-in-touch-accordion" class="accordion">

                    <h3>Section 1</h3>
                    <div>
                        <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                        </p>
                    </div>
                    <h3>Section 2</h3>
                    <div>
                        <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                        suscipit faucibus urna.
                        </p>
                    </div>
                    <h3>Section 3</h3>
                    <div>
                        <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                        </p>
                    </div>
                    <h3>Section 4</h3>
                    <div>
                        <p>
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                        mauris vel est.
                        </p>
                        <p>
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos.
                        </p>
                    </div>

                </div>

            </div>

            <div class="find-us container-trans">
                
                <div class="page-title">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-723.5 4015.359 297.383 93.922">
                        <path class="dark-green" d="M-54.242-43.563,243.141-56.852l-9.4,93.922h-282.2Z" transform="translate(-669.258 4072.211)"/>
                    </svg>
                    <h1 class="iron"><span class="wrap">Find us<span class="underline white"></span></span></h1>
                </div>
                
                <div class="inner">
                    <div class="by-bus">
                        <div class="small-title">By Bus</div>
                        <div class="route">
                            <div class="head">From Bristol Temple Meads train station</div>
                            <p>You may also catch the Number 8 or 9 bus from the train station to the Bristol Bus & Coach station in the city. If you use First Bus, the day rider ticket is around £4 and Noah’s Ark Zoo Farm is the last stop within the Inner Zone.</p>
                        </div>
                        <div class="route">
                            <div class="head">From Bristol Bus Station</div>
                            <p>The X6 and X8 bus from Bristol Bus Station to Clevedon stops at the Noah’s Ark Zoo Farm gate. If you use First Bus, the day rider ticket is around £4 and Noah’s Ark Zoo Farm is the last stop within the Inner Zone. The X6 now runs on Bank Holidays.</p>
                        </div>
                        <span class="underline dark-green"></span>
                    </div>
                    <div class="by-car">
                        <div class="small-title">By Car</div>
                        
                        <form>
                            <input type="text" name="get-directions" placeholder="Enter postcode for directions" />
                            <button class="submit-button green">Submit</button>
                        </form>
                        
                        <div class="route">
                            <div class="head">From Bristol City centre</div>
                            <p>Travel out through Hotwells on the A4 through the Cumberland Basin over the bridge onto the A370 and follow the brown tourist signs to Noah’s Ark Zoo Farm.</p>
                        </div>
                        <div class="route">
                            <div class="head">From Clifton & Redland</div>
                            <p>Use the Clifton Suspension bridge and turn left onto the B3129 Beggar Bush Lane following the brown tourist signs.</p>
                        </div>
                        <div class="route">
                            <div class="head">From M5 Junction 19</div>
                            <p>Use the A369 main road to Bristol. At the major set of traffic lights turn right onto B3129 Beggar Bush Lane (following the brown tourist signs), at the end of the road turn right onto the B3128. Noah’s Ark is five minutes on the right hand side, past the National Trust estate Tyntesfield.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="faqs container-trans">
                
                <div class="sub-title moon">
                    <h2>FAQS</h2>
                </div>
                
                <div id="faqs-accordion" class="accordion">

                    <h3>Section 1</h3>
                    <div>
                        <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                        </p>
                    </div>
                    <h3>Section 2</h3>
                    <div>
                        <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                        suscipit faucibus urna.
                        </p>
                    </div>
                    <h3>Section 3</h3>
                    <div>
                        <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                        </p>
                    </div>
                    <h3>Section 4</h3>
                    <div>
                        <p>
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                        mauris vel est.
                        </p>
                        <p>
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
    
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('contact-map'), {
      center: {lat: 51.450826, lng: -2.738484},
      zoom: 13,
      scrollwheel: false,
      mapTypeControl: false
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8d5Y9TR-x4YhwAz_yDbDGSxrB7o3i1xg&callback=initMap" async defer></script>

{% include 'General/partials/back-to-top.html'%}

{% endblock content %}
